<html>
    <head>
        <title>UPI 2.0</title>
        <link rel='stylesheet' type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
        <link rel='stylesheet' type="text/css" href="/css/style.css" />

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>UPI 2.0</h1>
                <br><br>
               {{>header}}
               <br>
                <img src="/images/anand.png" alt="anand"> 
                <br><hr>
                <h5>Anand Solanki</h5>
                <h5>Cell: +91 901-671-1160</h5>
                <h5>Email: anand.work26@gmail.com</h5>
            </div>
        </div>
    
    </body>
</html> 
