<html>
    <head>
        <link rel='stylesheet' type="text/css" href='/bootstrap/dist/css/bootstrap.css' />
        <link rel='stylesheet' type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="/about">About</a>
        </div>        
    </body>
</html>

